params {
    ucsc = "hg38"
    mirbase = "mirna_21"
    species = "hsa"
    sample_csv = null
    proj_dir = null
    out_dir = null
    config_file = null
    proj_name = null
    runtime_in_dir = null
    runtime_out_dir = null
}

profiles{
    cluster { includeConfig './configs/cluster.config' }
    container { includeConfig './configs/container.config' }
    local { includeConfig './configs/local.config' }
}

report {
  enabled = true
  file = "$params.out_dir/nextflow_execution_report.html"
}
