#This file stores information about databases to connect to.
#File format is <db_name> <host> <user> <password>

#Some examples: UCSC
#hg18 my_host my_user my_password
#hg19 my_host my_user my_password
#mm9 my_host my_user my_password

#Some examples: mirBase
#mirna_13_0 my_host my_user my_password (uses hg18 coordinates)
#mirna_15 my_host my_user my_password (mirbase 15 through 20 use GRCh37 coordinates) 
#mirna_16 my_host my_user my_password
#mirna_19 my_host my_user my_password
#mirna_20 my_host my_user my_password
