
// docker.enabled = true
singularity.enabled = true
singularity.autoMounts = true

params.in_mnt = "/mnt"
params.out_mnt = "/mnt2"
params.runtime_out_dir = params.out_mnt
CONTAINER_MNTS = ["$params.proj_dir:$params.in_mnt",
                  "$params.out_dir:$params.out_mnt"
                 ]

process {
    withName: 'alignment_stat|expression_matrix|project_summary' {
        container = "pipeindock/mirna_profiling:1.0.0"
        containerOptions = " -B " + CONTAINER_MNTS.join(",")
    }
}

